<!-- <div class="max-w-sm rounded min-w-full h-full">
  <div class="bg-white h-full">
    <div class="grid justify-center bg-gray-400">
      <img
        class="h-[500px] min-w-full transition duration-300 ease-in-out hover:scale-110 hover:object-cover"
        src="{{ post.urlImage }}"
        alt="Image of post"
      />
    </div>
    <div class="px-24 py-14">
      <div class="font-bold text-xl mb-4">{{ post.title }}</div>
      <p class="text-gray-700 text-base">
        {{ post.body }}
      </p>
    </div>
    <div class="px-24 pt-4 pb-2">
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#photography</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#travel</span
      >
      <span
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >#winter</span
      >
    </div>
  </div>
</div> -->

<article class="mt-5">
  <div
    class="mb-4 md:mb-0 w-full max-w-screen-xl mx-auto relative"
    style="height: 40em"
  >
    <div
      class="absolute left-0 bottom-0 w-full h-full z-10"
      style="
        background-image: linear-gradient(
          180deg,
          transparent,
          rgba(0, 0, 0, 0.7)
        );
      "
    ></div>
    <img
      src="{{ post.urlImage }}"
      class="absolute left-0 top-0 w-full h-full z-0 object-cover"
    />
    <div class="p-4 absolute bottom-0 left-0 z-20">
      <a
        href="#"
        class="px-4 py-1 bg-black text-gray-200 inline-flex items-center justify-center mb-2"
        >Nutrition</a
      >
      <h2 class="text-4xl font-semibold text-gray-100 leading-tight">
        {{ post.title }}
      </h2>
      <div class="flex mt-3">
        <img
          src="https://randomuser.me/api/portraits/men/97.jpg"
          class="h-10 w-10 rounded-full mr-2 object-cover"
        />
        <div>
          <p class="font-semibold text-gray-200 text-sm">Mike Sullivan</p>
          <p class="font-semibold text-gray-400 text-xs">14 Aug</p>
        </div>
      </div>
    </div>
  </div>

  <div
    class="px-4 lg:px-0 mt-12 text-gray-700 max-w-screen-xl mx-auto text-lg leading-relaxed"
  >
    <p class="pb-6">
      {{ post.body }}
    </p>

    <!-- if more articles in post -->
  </div>
</article>
